@using WebMatrix.Data;

@{
    Layout = "~/_Layout.cshtml";

    Page.Title = "Mega Desk Home";

    var db = Database.Open("MegaDeskDB");
    var selectCommand = "SELECT * FROM DeskQuotes";

    var selectedData = db.Query(selectCommand);
    var grid = new WebGrid(source: selectedData, defaultSort: "QuoteID", rowsPerPage: 5);
}
<h2>List of Quotes</h2>
<div>
    @grid.GetHtml();
</div>
